/* Desktops/Laptops */
@media (max-width: 1200px)
{
    .thinking_bro
    {
        display: none;
    }
    .quiz-question
    {
        font-size: 35px;
    }
    fieldset
    {
        width: 70%;
    }
}

/* Tablets */
@media (max-width: 768px)
{
    .step-inner
    {
        padding: 60px;
    }
        .quiz-question
    {
        font-size: 35px;
        width: 90%;
    }
    fieldset
    {
        width: 90%;
    }

}

/* mobile */
@media (max-width: 576px)
{
    .step-inner
    {
        padding: 20px;
    }
    .quiz-question
    {
        width: 100%;
        font-size: 25px;
    }
    fieldset
    {
        width: 100%;
    }
    .radio-field, .input-field .option
    {
        height: 40px;
    }
    .next-prev button
    {
        width: 100%;
    }
}